<%- include ("../partials/header") %>

<h1>
	This is the assets page
</h1>

<a href="/assets/new">Create New Assset</a>
<!-- <div class="container-fluid d-flex"> -->
	<div class="row">
		<% assets.forEach((asset)=>{ %>
			<div class="col-md-3 col-sm-6">
				<div class="card" style="width: 18rem;">
				  <img src="<%= asset.img %>" class="card-img-top" alt="...">
				  <div class="card-body">
					<h5 class="card-title"><%= asset.fc %></h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				  </div>
				  <ul class="list-group list-group-flush">
					<li class="list-group-item">Cras justo odio</li>
					<li class="list-group-item">Dapibus ac facilisis in</li>
					<li class="list-group-item">Vestibulum at eros</li>
				  </ul>
				  <div class="card-body">
					<a href="/assets/<%= asset._id %>" class="card-link btn btn-primary">More info</a>
				  </div>
				</div>	
			</div>
		<% }) %>
	<!-- </div> -->
</div>
<%- include ("../partials/footer") %>